# Rust
/target
**/target
**/*.rs.bk
Cargo.lock  # quita esto si quieres subir Cargo.lock

# Node / Frontend
node_modules
dist
dist-ssr

# Logs y temporales
logs
*.log
*.swp
*.swo
*.pid

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
